$primaryColorBlue: #2196f3;

$secondaryColorBlack: #212121;
$secondaryColorWhite: #fff;

$tertiaryColorDarkGrey: #2f303a;
$tertiaryColorMediocreGrey: #757575;
$tertiaryColorLightGrey: #afb1b8;

$borderRadiusDefault: 4px;

$transitionDurationDefault: 250ms;
$transitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);
